body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  width: 350px; /* Wider width for the popup */
  box-sizing: border-box; /* Ensure padding is included in total width */
}

#popupHeader {
  display: flex;
  align-items: center;
}

#extensionIcon {
  width: 42px;
  height: 42px;
  margin-right: 10px;

}

h1 {
  margin: 0;
  font-size: 18px;
}

label {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #357ae8;
}
